<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Amethysta&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts.css">
</head>
<body id="bodyCartaHarry">

    <div id="headerTemplate">
        <component v-bind:is="vista"></component>
     </div>

    <!-- hasta aca header -->


    <div class="contenedorCartaHarry" id="datosCarta">
        <div class="selectorArea" id="selectorNombre" >
            <p>NOMBRE PERSONAJE: </p>
            <select id="selectName" class="selectEach" v-model="selectedName" >
                <option disabled value="">Seleccione personaje</option>
                <option v-for="nombre in nombres" :value="nombre">{{nombre}}</option>
            <p>{{nombreOk}}</p>
            </select>
            
        </div>
        <div id="fotoCarta" v-if="srcImg" :style="{ 'background-image': 'url(' + srcImg + ')' }"></div>
        <div class="selectorArea">
            <p>CASA:</p>
            <select name="" id="" class="selectEach" v-model="selectedHouse">
                <option disabled value="">Seleccione casa</option>
                <option v-for="casa in casas" :value="casa">{{casa}}</option>
            </select>
        </div>
        <div class="selectorArea">
            <p>ACTOR/ACTRIZ:</p>
            <select name="" id="" class="selectEach" v-model="selectedActore">
                <option disabled value="">Seleccione actor/actriz</option>
                <option v-for="actore in actores" :value="actore">{{actore}}</option>
            </select>
        </div>
      
        <div id="botoneraFinal">
            <!-- <a href="nombre.html" > -->
                <input type="submit" value="ENVIAR" class="botonRojo" @click.once="puntuar()">
            <!-- </a>    -->
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="scriptCarta.js"></script>
    <script src="script.js"></script>
</body>
</html>